<div class="icon_boxes">
<div class="container">
  <div class="row icon_box_row">
    
    <!-- Icon Box -->
    <div class="col-lg-4 icon_box_col">
      <div class="icon_box">
        <div class="icon_box_image"><img src="/images/icon_1.svg" alt=""></div>
        <div class="icon_box_title">Free Shipping Worldwide</div>
        <div class="icon_box_text">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a ultricies metus. Sed nec molestie.</p>
        </div>
      </div>
    </div>

    <!-- Icon Box -->
    <div class="col-lg-4 icon_box_col">
      <div class="icon_box">
        <div class="icon_box_image"><img src="/images/icon_2.svg" alt=""></div>
        <div class="icon_box_title">Free Returns</div>
        <div class="icon_box_text">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a ultricies metus. Sed nec molestie.</p>
        </div>
      </div>
    </div>

    <!-- Icon Box -->
    <div class="col-lg-4 icon_box_col">
      <div class="icon_box">
        <div class="icon_box_image"><img src="/images/icon_3.svg" alt=""></div>
        <div class="icon_box_title">24h Fast Support</div>
        <div class="icon_box_text">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a ultricies metus. Sed nec molestie.</p>
        </div>
      </div>
    </div>

  </div>
</div>
</div>
<!-- Newsletter -->

<div class="newsletter">
<div class="container">
  <div class="row">
    <div class="col">
      <div class="newsletter_border"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8 offset-lg-2">
      <div class="newsletter_content text-center">
        <div class="newsletter_title">Subscribe to our newsletter</div>
        <div class="newsletter_text"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a ultricies metus. Sed nec molestie eros</p></div>
        <div class="newsletter_form_container">
          <form action="#" id="newsletter_form" class="newsletter_form">
            <input type="email" class="newsletter_input" required="required">
            <button class="newsletter_button trans_200"><span>Subscribe</span></button>
          </form>
        </div>
      </div>
      <div class="col-lg-2"></div>
    </div>
  </div>
</div>
</div>
<footer>
        <div class="row">
        
            <div class="col-lg-12 text-center">
              <p>Developer: Ashutosh</p>
              <div>
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved by <a href=#" target="_blank">Ashutosh</a>
 </div>
                        <p>Follow Us :&nbsp;
                        <a  href="https://www.facebook.com/ashutoshks2" target="_blank"><i class="fa fa-facebook fa-2x"></i></a>&nbsp;&nbsp;
                         <a  href="https://plus.google.com/u/0/106590744126352363420" target="_blank"><i class="fa fa-google-plus fa-2x"></i></a>&nbsp;&nbsp;
                         <a href="https://www.youtube.com/channel/UCbe24jit85sdrWTmEKH8kDg" target="_blank"><i class="fa fa-youtube fa-2x"></i></a> &nbsp;&nbsp;
             <a  href="https://www.linkedin.com/in/ashu535/" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a>
                      
                        </p>

           </div>
         </div>
     </div>


     
 </footer> 
 <button type="button" class="btn btn-info btn-lg fixedbutton" data-toggle="modal" data-target="#myModal">About</button>

 <!-- Modal -->
 <div id="myModal" class="modal fade" role="dialog">
   <div class="modal-dialog">
 
     <!-- Modal content-->
     <div class="modal-content">
       <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal">&times;</button>
         <img
         class="img img-responsive"  src="https://scontent.fccu10-1.fna.fbcdn.net/v/t1.0-9/21731141_1455253707899568_7970426763513836733_n.jpg?_nc_cat=109&oh=fd890e3e3093a9475fa1f11ec71c209a&oe=5C555DE7" style="width:150px;height:150px;border-radius:50%;margin-left:40%;margin-top:20px;margin-bottom:5px;">
       </div>
       <div class="modal-body">
       <p style="text-align:center;font-weight:bold;font-size:18px;">Ashutosh Kumar</p>
       <p style="text-align:center;font-size:18px;margin-top:10px;">A passionate developer who always tries to learn new technology and software.</p>
       <p style="text-align:center;font-size:18px;margin-top:10px;">I am an undergraduate student at Heritage Institute Of Technology in Electronics & Communication Engineering.</p>
       <p style="text-align:center;font-size:18px;margin-top:10px;">Interested in web development, having skills in HTML, CSS, JavaScript, jQuery, Node.js and NoSQL(MongoDb).</p>
       <p style="text-align:center;font-size:18px;margin-top:10px;margin-bottom:5px;">Phone : +91 7003487907, E-mail : mrashutoshkrsingh@gmail.com </p>
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
       </div>
     </div>
 
   </div>
 </div>
 

<script src="https://cdn.jsdelivr.net/npm/@fancyapps/fancybox@3.5.1/dist/jquery.fancybox.min.js"></script>

    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  </body>
</html>
